/CSC-251-main/ArraySevenDwarfs_OrengoAnthony/ArraySevenDwarfs_OrengoAnthony/build/
/CSC-251-main/ArraySevenDwarfs_OrengoAnthony/ArraySevenDwarfs_OrengoAnthony/nbproject/private/
/CSC-251-main/ArraySevenDwarfs_OrengoAnthony/build/
/CSC-251-main/ArraySevenDwarfs_OrengoAnthony/nbproject/private/
/CSC-151-master/Bug_03_OrengoAnthony/build/
/CSC-151-master/Bug_03_OrengoAnthony/nbproject/private/
/CSC-151-master/Bug_04_OrengoAnthony/build/
/CSC-151-master/Bug_04_OrengoAnthony/nbproject/private/
/CSC-151-master/Bug_05_OrengoAnthony/build/
/CSC-151-master/Bug_05_OrengoAnthony/nbproject/private/
/CSC-151-master/Classwork_01_OrengoAnthony/build/
/CSC-151-master/Classwork_01_OrengoAnthony/dist/
/CSC-151-master/Classwork_01_OrengoAnthony/nbproject/private/
/CSC-151-master/Homework_01_OrengoAnthony/build/
/CSC-151-master/Homework_01_OrengoAnthony/nbproject/private/
/CSC-151-master/Homework_02_OrengoAnthony/build/
/CSC-151-master/Homework_02_OrengoAnthony/nbproject/private/
/CSC-151-master/HotelOccupancy/build/
/CSC-151-master/HotelOccupancy/nbproject/private/
/CSC-151-master/JavaApplication24/build/
/CSC-151-master/JavaApplication24/nbproject/private/
/CSC-151-master/JavaApplication26/build/
/CSC-151-master/JavaApplication26/nbproject/private/
/CSC-151-master/JavaApplication27/build/
/CSC-151-master/JavaApplication27/nbproject/private/
/CSC-151-master/SoccerTeams_OrengoAnthony/build/
/CSC-151-master/SoccerTeams_OrengoAnthony/nbproject/private/
/CSC-151-master/TEST123/build/
/CSC-151-master/TEST123/nbproject/private/
/BrickApplication_OrengoAnthony/build/
/BrickApplication_OrengoAnthony/dist/
/BrickApplication_OrengoAnthony/nbproject/private/
/CSC-251-main/COVID19TempCheck_OrengoAnthony/build/
/CSC-251-main/COVID19TempCheck_OrengoAnthony/dist/
/CSC-251-main/COVID19TempCheck_OrengoAnthony/nbproject/private/