/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2022, 4:26:41 PM
    Author     : oreng
*/

html{
     
     
}
body{
  height: auto;
  width: auto;
    background-image: url("MainPageImage.jpg") ;
    background: url("MainPageImage.jpg") no-repeat center center #000 fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  contain;     
}
.btn-enter{
   
  margin-left: 30rem;
  margin-top: 55rem;
  position: absolute;
} 
.btn-enter{
  color: #fff;
  background-color: #fff ;
  border: #fff 3px solid;  
  
   position: absolute;
   left: 45%;
   top: 25%;
   transform: translate(-300%,-300%);

}
 
.btn-enter, .btn-enter:focus{
  color:  #000;
  border-color: #fff !important;
  text-decoration: none;
}
.btn-enter:checked + .btn-enter, .btn-enter:active + .btn-enter, .btn-enter:active, .btn-enter.active{
  color: #000;
  background-color:  #0056b3;
  border-color:  #fff;
}
.btn-enter:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #fff;
  border-color:  #fff;
}
 
 
.btn-enter {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
}
.btn-enter {
  border-radius: 1rem !important;
}
 
 .btn-enter:hover{
  color:  #000;
  background-color: #80bdff;
  text-decoration: none;
}
@media only screen and (max-width: 3000px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 17%;
   transform: translate(-300%,-300%);

}
}
@media only screen and (max-width: 2800px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 17%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 2600px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 17%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 2400px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 17%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 2200px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 17%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 2000px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 14%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 1800px) {
  .btn-enter{  
   position: absolute;
   left: 45%;
   top: 13%;
   transform: translate(-300%,-300%);

}
} 
@media only screen and (max-width: 1600px) {
   .btn-enter{  
   position: absolute;
   left: 45%;
   top: 13%;
   transform: translate(-300%,-300%);

}
}
@media only screen and (max-width: 1200px) {
   .btn-enter{  
   position: absolute;
   left: 40%;
   top: 10%;
   transform: translate(-300%,-300%);

}
}
@media only screen and (max-width: 1000px) {
   .btn-enter{  
   position: absolute;
   left: 39%;
   top: 10%;
   transform: translate(-300%,-300%);

}
}
@media only screen and (max-width: 800px){
   .btn-enter{  
   position: absolute;
   left: 39%;
   top: 9%;
   transform: translate(-300%,-300%);

}
}

@media only screen and (max-height:1000px) {
   .btn-enter{  
   position: absolute;
   left: 39%;
   top: -10%;
   transform: translate(-300%,-300%);

}
}




